{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static '/develop/js/functions.js' %}"></script>
    <link rel="stylesheet" href="{% static '/develop/css/styles.css' %}">
</head>

<body>
    <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-3">
        <div class="row">
            <div class="header">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="top-buffer">
                        <button onclick="back()" type="button" class="btn btn-menu-search btn-square-md"><</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-4">
                    <p class="header_text_long text-center">Výsledky vyhledávání</p>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-8 offset-md-2">
                {% if searched %}
                    {% for room in results %}
                        <hr class="search">
                        <a class="search" href="{% url 'room_detail' room.id %}">
                            <h3>{{room.name}}</h3>
                        </a>
                    {% endfor %}
                    <hr class="search">
                {% else %}
                    <h3>Nenalezeny žádné výsledky.</h3>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>