{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/develop/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/develop/css/styles.css' %}">
</head>

<body>
    <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-3">
        <div class="row top-buffer_extendededed">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <a href="{% url 'homepage' %}">
                        <button type="button" class="btn btn-menu btn-square-md" onclick="openNav()"><</button>
                    </a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <button type="button" class="btn btn-category btn-square-md">WC</button>
                </div>
            </div>
        </div>
        <div class="row top-buffer_extendededed">        
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="list">
                    {% for room in rooms %}
                        <p>
                            <a href="{% url 'room_detail' room.id %}">{{room.name}}</a>
                        </p>
                        <hr class="solid">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        function displayList() {
            document.getElementById("list").style.width = "200px";
        }

        function closeList() {
            document.getElementById("list").style.width = "100px";
        }
    </script>
</body>

</html>